:root{
    --player-gray:#282828;
    --body-blue:#141922;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: sans-serif
}

.sidebar{
    z-index: 2;
    width: 12rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    height: calc(100vh - 5rem);
}

.sidebar-top{
    padding-top: 1rem;
}

.logo-big{
    padding-left: 1rem;
    width: 80%;
}

.section>a{
    display: flex;
    align-items: center;
}

.sections{
    margin-top: 1rem;
}

.section>a>img{
    width: 25px;
    margin:0.3rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.section>a{
    color: gray;
    text-decoration: none;
}

.sections>.emphasized>a{
    color: white;
    border-left: 3px solid greenyellow;
}

.section>a:hover{
    color: white;
}

/* position */
.section>a>p,
.section>a>img{
    display: inline;
}

.playlists{
    margin: 1rem;
}

.create-playlist>a{
    color: gray;
    text-decoration: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.create-playlist>a>img{
    margin-right: 0.5rem;
    width: 3.5rem;
    display: inline;
}

.create-playlist>a>h6{
    display: inline;
    font-size: smaller;
}

.playlist-names>a{
    text-decoration: none;
}

.playlist-names>a>p:hover{
    color: white;
}

.playlist-names>a>p{
    font-size: small;
    color: gray;
    margin-top: 1rem;
}

.sidebar-bottom{
    margin-top: 5rem;
    margin-left: 1rem;
}

.sidebar-bottom>.call-to-action>a{
    text-decoration: none;
}

.sidebar-bottom>.call-to-action>a>*{
    color: gray;
    display: inline;
}










.user{
    margin-top: 1rem;
    padding-top: 1rem;
    margin-right: 1rem;
    border-top: 1px solid gray;
    display: flex;
    gap: 0.5rem;
}

.user>.svg{
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
    background-color: gray;
    border-radius: 30px;
}

.user>*{
    display: inline;
}

.app-container{
    height: 100vh;
    width: 100vw;
    background-color: var(--body-blue);
    display: flex;
    justify-content: space-between;
}

.body-header{
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding-top: 1.7rem;
    width: calc(100% - 12rem);
}

.body-header>.button{
    padding: 0.6rem 2rem;
    border: 1px solid white;
    border-radius: 150px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.albums-container{
    height: 100vh;
    width: calc(100vw - 12rem);
    overflow: scroll;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 5.5rem;
    flex-wrap: wrap;
}

.navbar>.link>a{
    color: gray;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar>.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar>.link:hover>a{
    color: white;
}

.navbar>.link>.selected{
    margin-top: 5px;
    width: 35px;
    background-color: greenyellow;
    height: 3px;
}

.section-title{
    color: white;
    margin-left: 1rem;
}

.no-subtitle{
    margin-bottom: 2rem;
}

.section-subtitle{
    color: gray;
    margin: 1rem;
    margin-bottom: 2rem;
}

.recently-played{
    margin: 1rem;
    display: flex;
    justify-content:left;
    gap: 1rem;
}

.card{
    width: calc(50px + 10vw);
}

.card>a{
    text-decoration: none;
}

.title,
.subtitle{
    text-decoration: none;
    margin-top: 0.3rem;
    text-align: center;
}

.title{
    color: white;
}

.subtitle{
    color: gray;
}

.rounded{
    border-radius: 500px;
}

.last-section{
    padding-bottom: 5rem;
}

.player,
.current-song,
.song-icons,
.player,
.icons,
.playbar,
.volume{
    background-color: var(--player-gray);
    color: white;
    display: flex;
}

.player{
    height: 5rem;
    z-index: 2;
    padding: 1rem 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.current-song-info{
    margin-right: 2rem;
}

.current-song{
    align-items: center;
}

.current-song>img{
    width: 2rem;
    margin-right: 0.5rem;
}

.album-name{
    font-size: small;
    font-weight: 900;
}

.track-name{
    font-size: xx-small;
    color: gray;
}

.song-player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-player>.icons{
    align-items: center;
}

.playbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playbar>p{
    font-size: smaller;
}

.time-bar{
    height: 3px;
    width: 30vw;
    margin: 0 1rem;
    background-color: gray;
}

.volume{
    align-items: center;
}

.volume-bar{
    margin: 0.5rem;
    width: 5vw;
    height: 3px;
    background-color: gray;
}

.played-time,
.current-volume{
    height: 3px;
    width: 30%;
    background-color: aliceblue;
}

.song-icons>a{
    margin: 0.5rem;
}

.icons>a{
    margin: 0 0.5rem;
}

.volume>.icons>*{
    margin: 0.2rem;
}

.svg{
    width: 1rem;
}

.svg-white{
    filter: invert(100%);
}

.svg-gray{
    filter: invert(30%);
}

.play-button{
    width: 2rem;
}

@media screen and (max-width: 768px) {
    .recently-played{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 480px) {

    .logo-small{
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .logo-small{
        padding-left: 1rem;
        text-align: center;
        display: inline;
    }

    .logo-small>a>img{
        width: 2rem;
    }
    
    .collapsible{
        visibility: hidden;
    }

    .sidebar{
        width: 4rem;
        height: 100vh;
    }

    .body-header,
    .app-body{
        width: calc(100% - 3rem);
    }

    .albums-container{
        width: 100%;
    }

    .current-song-info{
        margin-right: 0;
    }

    .song-icons{
        flex-direction: column;
    }

    .sidebar-bottom{
        margin-top: 0;
    }

    .user{
        margin: 0;
        padding: 0;
        gap: 0;
        border-top: 0;
    }

    .card{
        width: 45%;
    }

}